<div class="section">
  <h2>{{ "SHOPS.SHOP_DETAILS_SELECTION.TITLE" | translate }}</h2>
  <p>
    {{ "SHOPS.SHOP_DETAILS_SELECTION.SHOP_NAME" | translate }}
    <span>{{
      shopDetails.name === null || shopDetails.name === ""
        ? ("SHOPS.SHOP_DETAILS_SELECTION.SHOP_NAME_EMPTY" | translate)
        : shopDetails.name
    }}</span>
  </p>
  <h2 class="shop-description">
    {{ "SHOPS.SHOP_DETAILS_SELECTION.SHOP_DESCRIPTION" | translate }}
  </h2>
  <p>
    <span>
      {{
        shopDetails.description === null || shopDetails.description === ""
          ? ("SHOPS.SHOP_DETAILS_SELECTION.SHOP_DESCRIPTION_EMPTY" | translate)
          : shopDetails.description
      }}
    </span>
  </p>
</div>
