<div class="items-container items-container--cards items-container--home">
  <div class="card card--padded card--about-app">
    <div class="card-content">
      <h1>{{ "CORE.HOME_PAGE.ABOUT_CARD.TITLE" | translate }}</h1>
      <p>{{ "CORE.HOME_PAGE.ABOUT_CARD.DESCRIPTION" | translate }}</p>
    </div>
  </div>
  <app-content-card
    imageSource="assets/images/cards/businesses.avif"
    [subtitle]="'CORE.HOME_PAGE.BUSINESSES_CARD.SUBTITLE' | translate"
    [title]="'CORE.HOME_PAGE.BUSINESSES_CARD.TITLE' | translate"
    [content]="'CORE.HOME_PAGE.BUSINESSES_CARD.DESCRIPTION' | translate"
    [primaryButtonText]="'CORE.HOME_PAGE.BUSINESSES_CARD.BROWSE_BUTTON' | translate"
    [secondaryButtonText]="'CORE.HOME_PAGE.BUSINESSES_CARD.JOIN_BUTTON' | translate"
    primaryButtonLink="businesses"
    secondaryButtonLink="businesses/new"
  ></app-content-card>
  <app-content-card
    imageSource="assets/images/cards/shops.avif"
    [subtitle]="'CORE.HOME_PAGE.SHOPS_CARD.SUBTITLE' | translate"
    [title]="'CORE.HOME_PAGE.SHOPS_CARD.TITLE' | translate"
    [content]="'CORE.HOME_PAGE.SHOPS_CARD.DESCRIPTION' | translate"
    [primaryButtonText]="'CORE.HOME_PAGE.SHOPS_CARD.BROWSE_BUTTON' | translate"
    [secondaryButtonText]="'CORE.HOME_PAGE.SHOPS_CARD.JOIN_BUTTON' | translate"
    primaryButtonLink="shops"
    secondaryButtonLink="shops/new"
  ></app-content-card>
  <app-content-card
    imageSource="assets/images/cards/businessman.avif"
    [subtitle]="'CORE.HOME_PAGE.BUSINESSMEN_CARD.SUBTITLE' | translate"
    [title]="'CORE.HOME_PAGE.BUSINESSMEN_CARD.TITLE' | translate"
    [content]="'CORE.HOME_PAGE.BUSINESSMEN_CARD.DESCRIPTION' | translate"
    [primaryButtonText]="'CORE.HOME_PAGE.BUSINESSMEN_CARD.BROWSE_BUTTON' | translate"
    [secondaryButtonText]="'CORE.HOME_PAGE.BUSINESSMEN_CARD.JOIN_BUTTON' | translate"
    primaryButtonLink="owners"
    secondaryButtonLink="auth/signup"
  ></app-content-card>
</div>
