<div class="items-container items-container--cards items-container--home">
  <app-content-card
    imageSource="assets/images/cards/businesses.avif"
    subtitle="Marketing Market"
    title="World Leading Businesses"
    content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
    pariatur temporibus fugiat cum aperiam."
    primaryButtonText="Browse"
    secondaryButtonText="Join Network"
    primaryButtonLink="businesses"
    secondaryButtonLink="businesses/join"
  ></app-content-card>
  <app-content-card
    imageSource="assets/images/cards/shops.avif"
    subtitle="Top Quality Products"
    title="The Art of Versatile Shops"
    content="Assumenda, aspernatur dignissimos voluptatum unde repellat
    alias nisi rerum eligendi animi aut ex sequi accusantium, sint."
    primaryButtonText="Browse"
    secondaryButtonText="Start a Shop"
    primaryButtonLink="shops"
    secondaryButtonLink="shops/create"
  ></app-content-card>
  <app-content-card
    imageSource="assets/images/cards/businessman.avif"
    subtitle="Incredible Dreams"
    title="Most Popular Businessmen"
    content="Expedita, ipsa voluptatum officia iste quia
    maxime provident porro similique sunt! Accusantium ad, maiores officia quae delectus."
    primaryButtonText="Browse"
    secondaryButtonText="Become One"
    primaryButtonLink="owners"
    secondaryButtonLink="owners/become"
  ></app-content-card>
  <app-add-item-card
    title="Create Business"
    content="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  ></app-add-item-card>
</div>
