<div class="card card--padded card--form" [formGroup]="productDetailsGroup">
  <p>Product Details</p>
  <div class="input-group">
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: productDetailsGroup.controls['name'] } as name"
    >
      <mat-label>{{ "PRODUCT.PRODUCT_DETAILS_FORM.NAME_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'PRODUCT.PRODUCT_DETAILS_FORM.NAME_INPUT.LABEL' | translate"
        value=""
        type="string"
        formControlName="name"
      />
      <mat-error>
        <span *ngIf="name.control.hasError('required')">{{
          "PRODUCT.PRODUCT_DETAILS_FORM.NAME_INPUT.REQUIRED" | translate
        }}</span>
        <span *ngIf="name.control.hasError('minlength')">{{
          "PRODUCT.PRODUCT_DETAILS_FORM.NAME_INPUT.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="name.control.hasError('maxlength')">{{
          "PRODUCT.PRODUCT_DETAILS_FORM.NAME_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>edit</mat-icon>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: productDetailsGroup.controls['price'] } as price"
    >
      <mat-label>{{ "PRODUCT.PRODUCT_DETAILS_FORM.PRICE_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'PRODUCT.PRODUCT_DETAILS_FORM.PRICE_INPUT.LABEL' | translate"
        value=""
        type="number"
        formControlName="price"
      />
      <mat-error>
        <span *ngIf="price.control.hasError('required')">{{
          "PRODUCT.PRODUCT_DETAILS_FORM.PRICE_INPUT.REQUIRED" | translate
        }}</span>
        <span *ngIf="price.control.hasError('min')">{{
          "PRODUCT.PRODUCT_DETAILS_FORM.PRICE_INPUT.MIN" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>attach_money</mat-icon>
    </mat-form-field>
  </div>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: productDetailsGroup.controls['description'] } as description"
  >
    <mat-label>{{ "PRODUCT.PRODUCT_DETAILS_FORM.DESCRIPTION_INPUT.LABEL" | translate }}</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="6"
      [placeholder]="'PRODUCT.PRODUCT_DETAILS_FORM.DESCRIPTION_INPUT.LABEL' | translate"
      value=""
      formControlName="description"
    ></textarea>
    <mat-error>
      <span *ngIf="description.control.hasError('required')">{{
        "PRODUCT.PRODUCT_DETAILS_FORM.DESCRIPTION_INPUT.REQUIRED" | translate
      }}</span>
      <span *ngIf="description.control.hasError('minlength')">{{
        "PRODUCT.PRODUCT_DETAILS_FORM.DESCRIPTION_INPUT.TOO_SHORT" | translate
      }}</span>
      <span *ngIf="description.control.hasError('maxlength')">{{
        "PRODUCT.PRODUCT_DETAILS_FORM.DESCRIPTION_INPUT.TOO_LONG" | translate
      }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: productDetailsGroup.controls['image'] } as image"
  >
    <mat-label>{{ "PRODUCT.PRODUCT_DETAILS_FORM.BANNER_INPUT.LABEL" | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'PRODUCT.PRODUCT_DETAILS_FORM.BANNER_INPUT.LABEL' | translate"
      value=""
      type="string"
      formControlName="image"
    />
    <mat-icon matPrefix>link</mat-icon>
    <mat-error>
      <span *ngIf="image.control.hasError('required')">{{
        "PRODUCT.PRODUCT_DETAILS_FORM.BANNER_INPUT.REQUIRED" | translate
      }}</span>
      <span *ngIf="image.control.hasError('pattern')">{{
        "PRODUCT.PRODUCT_DETAILS_FORM.BANNER_INPUT.INVALID" | translate
      }}</span>
    </mat-error>
  </mat-form-field>
  <ng-container
    *ngIf="productDetailsGroup.get('image')?.value && productDetailsGroup.get('image')?.valid"
  >
    <p>{{ "PRODUCT.PRODUCT_DETAILS_FORM.BANNER_PREVIEW" | translate }}</p>
    <img
      class="banner-preview"
      [src]="productDetailsGroup.get('image')?.value"
      alt=""
      aria-hidden="true"
    />
  </ng-container>
</div>
