<article class="card">
  <div class="card-banner" [ngStyle]="{ backgroundImage: 'url(' + imageSource + ')' }"></div>
  <div class="card-content">
    <h2>{{ subtitle }}</h2>
    <h1>{{ title }}</h1>
    <p>{{ content }}</p>
  </div>
  <div class="card-actions">
    <a [routerLink]="primaryButtonLink" *ngIf="primaryButtonText">
      <button mat-raised-button [color]="primaryButtonColor">
        {{ primaryButtonText }}
      </button>
    </a>
    <a [routerLink]="secondaryButtonLink" *ngIf="secondaryButtonText">
      <button mat-stroked-button class="second-button">
        {{ secondaryButtonText }}
      </button>
    </a>
  </div>
</article>
