.toolbar {
  height: 3.5rem;
  color: var(--clr-light-1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 300;

  mat-icon {
    color: var(--clr-accent-light);
    font-weight: 300;
    font-size: 1.75rem;
    height: 1.75rem;
    line-height: 1.7rem;
    width: 1.75rem;
  }

  &-text {
    line-height: 1.1rem;

    span {
      font-weight: 500;
    }
  }
}

.divider {
  margin-inline: auto;
}

.search {
  display: none;

  @media screen and (min-width: 500px) {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    border: none;
    display: block;
    width: 10rem;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}
