<div class="buttons-group">
  <h2>Available Pages</h2>
  <app-sidenav-button text="Home" link="" icon="home"></app-sidenav-button>
  <app-sidenav-button text="Businesses" link="link" icon="business"></app-sidenav-button>
  <app-sidenav-button text="Shops" link="link" icon="shop"></app-sidenav-button>
  <app-sidenav-button text="Owners" link="link" icon="people"></app-sidenav-button>
</div>
<div class="buttons-group">
  <h2>General Settings</h2>
  <app-sidenav-button text="Language" link="link" icon="language"></app-sidenav-button>
</div>
<div class="buttons-group">
  <h2>About Developer</h2>
  <app-sidenav-button text="Other Projects" link="link" icon="language"></app-sidenav-button>
  <app-sidenav-button text="Website" link="link" icon="language"></app-sidenav-button>
</div>
