<div class="section">
  <h2>{{ 'BUSINESSMAN.PERSON_DETAILS_SECTION.BUSINESSMAN' | translate }}</h2>
  <p>
    <mat-icon>person</mat-icon>
    {{ 'BUSINESSMAN.PERSON_DETAILS_SECTION.FIRST_NAME' | translate }}
    <span>
      {{
        personDetails.firstName === null || personDetails.firstName == ""
          ? ('BUSINESSMAN.PERSON_DETAILS_SECTION.FIRST_NAME_EMPTY' | translate)
          : personDetails.firstName
      }}
    </span>
  </p>
  <p>
    <mat-icon>people</mat-icon>
    {{ 'BUSINESSMAN.PERSON_DETAILS_SECTION.SURNAME' | translate }}
    <span>
      {{
        personDetails.surname === null || personDetails.surname == ""
          ? ('BUSINESSMAN.PERSON_DETAILS_SECTION.SURNAME_EMPTY' | translate)
          : personDetails.surname
      }}
    </span>
  </p>
</div>
