<form class="card">
  <div class="card-content">
    <h1>Sign in</h1>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" value="" type="email" />
      <mat-icon matPrefix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" value="" type="password" />
      <mat-icon matPrefix>lock</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" class="auth-button">Login</button>
    <p class="media-auth-description">or login using</p>
    <div class="media-auth">
      <button mat-mini-fab class="google-fab">
        <img src="assets/images/media/google.png" alt="Login with Google" />
      </button>
      <button mat-mini-fab class="facebook-fab">
        <img src="assets/images/media/facebook.png" alt="Login with Facebook" />
      </button>
      <button mat-mini-fab class="github-fab">
        <img src="assets/images/media/github.png" alt="Login with Github" />
      </button>
    </div>
    <p class="account-description">Don't have an account?</p>
    <a routerLink="/auth/signup">Sign Up</a>
  </div>
</form>
