<form class="card" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="card-content">
    <h1>{{ "AUTH.LOGIN.TITLE" | translate }}</h1>
    <mat-form-field appearance="outline" *ngIf="{ control: loginForm.controls['email'] } as email">
      <mat-label>{{ "AUTH.LOGIN.EMAIL_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'AUTH.LOGIN.EMAIL_INPUT.LABEL' | translate"
        type="email"
        formControlName="email"
      />
      <mat-error>
        <span *ngIf="email.control.hasError('required')">{{
          "AUTH.LOGIN.EMAIL_INPUT.ERRORS.REQUIRED" | translate
        }}</span>
        <span *ngIf="email.control.hasError('email')">{{
          "AUTH.LOGIN.EMAIL_INPUT.ERRORS.INVALID" | translate
        }}</span>
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="email.control.errors != null && email.control.touched"
        >mail</mat-icon
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: loginForm.controls['password'] } as password"
    >
      <mat-label>{{ "AUTH.LOGIN.PASSWORD_INPUT.LABEL" | translate }}</mat-label>
      <input
        #passwordInput
        matInput
        [placeholder]="'AUTH.LOGIN.PASSWORD_INPUT.LABEL' | translate"
        type="password"
        autocomplete="on"
        formControlName="password"
      />
      <mat-error>
        <span *ngIf="password.control.hasError('required')">{{
          "AUTH.LOGIN.PASSWORD_INPUT.ERRORS.REQUIRED" | translate
        }}</span>
        <span *ngIf="password.control.hasError('minlength')">{{
          "AUTH.LOGIN.PASSWORD_INPUT.ERRORS.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="password.control.hasError('maxlength')">{{
          "AUTH.LOGIN.PASSWORD_INPUT.ERRORS.TOO_LONG" | translate
        }}</span>
        <span *ngIf="password.control.hasError('pattern')">{{
          "AUTH.LOGIN.PASSWORD_INPUT.ERRORS.PATTERN" | translate
        }}</span>
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="password.control.errors != null && password.control.touched"
        >lock</mat-icon
      >
      <mat-icon
        class="material-icons-filled suffix-icon"
        matSuffix
        appChangeInputType
        [input]="passwordInput"
        >visibility</mat-icon
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="auth-button">{{ 'AUTH.LOGIN.BUTTONS.LOGIN' | translate }}</button>
    <mat-error class="form-response-error">{{ errorMessage }}</mat-error>
    <p class="media-auth-description">{{ 'AUTH.LOGIN.OTHER.LOGIN_ALTERNATIVE' | translate }}</p>
    <app-media-list
      class="media-auth"
      (googleIconClick)="googleLogin()"
      (facebookIconClick)="facebookLogin()"
      (githubIconClick)="githubLogin()"
    ></app-media-list>
    <p class="account-description">{{ 'AUTH.LOGIN.OTHER.NO_ACCOUNT' | translate }}</p>
    <a routerLink="/auth/signup">{{ 'AUTH.LOGIN.OTHER.SIGN_UP' | translate }}</a>
  </div>
</form>
