<div class="card card--padded card--form" [formGroup]="contactGroup">
  <p>Contact</p>
  <div class="input-group">
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: contactGroup.controls['email'] } as email"
    >
      <mat-label>{{ "CORE.CONTACT_FORM.EMAIL_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'CORE.CONTACT_FORM.EMAIL_INPUT.LABEL' | translate"
        value=""
        type="email"
        formControlName="email"
      />
      <mat-error>
        <span *ngIf="email.control.hasError('email')">{{
          "CORE.CONTACT_FORM.EMAIL_INPUT.INVALID" | translate
        }}</span>
        <span *ngIf="email.control.hasError('maxlength')">{{
          "CORE.CONTACT_FORM.EMAIL_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: contactGroup.controls['telephone'] } as telephone"
    >
      <mat-label>{{ "CORE.CONTACT_FORM.TELEPHONE_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'CORE.CONTACT_FORM.TELEPHONE_INPUT.LABEL' | translate"
        value=""
        type="number"
        formControlName="telephone"
      />
      <mat-error>
        <span *ngIf="telephone.control.hasError('min')">{{
          "CORE.CONTACT_FORM.TELEPHONE_INPUT.MIN" | translate
        }}</span>
        <span *ngIf="telephone.control.hasError('max')">{{
          "CORE.CONTACT_FORM.TELEPHONE_INPUT.MAX" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>call</mat-icon>
    </mat-form-field>
  </div>
</div>
