<div class="media">
  <button mat-mini-fab class="google-fab" type="button" (click)="googleIconClick.emit()">
    <img src="assets/images/media/google.png" alt="Login with Google" />
  </button>
  <button mat-mini-fab class="facebook-fab" type="button" (click)="facebookIconClick.emit()">
    <img src="assets/images/media/facebook.png" alt="Login with Facebook" />
  </button>
  <button mat-mini-fab class="github-fab" type="button" (click)="githubIconClick.emit()">
    <img src="assets/images/media/github.png" alt="Login with Github" />
  </button>
</div>
