<div class="card card--padded card--form" [formGroup]="businessDetailsGroup">
  <p>Business Details</p>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: businessDetailsGroup.controls['companyName'] } as companyName"
  >
    <mat-label>{{
      "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_NAME_INPUT.LABEL" | translate
    }}</mat-label>
    <input
      matInput
      [placeholder]="'BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_NAME_INPUT.LABEL' | translate"
      value=""
      type="string"
      formControlName="companyName"
    />
    <mat-error>
      <span *ngIf="companyName.control.hasError('required')">{{
        "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_NAME_INPUT.REQUIRED" | translate
      }}</span>
      <span *ngIf="companyName.control.hasError('minlength')">{{
        "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_NAME_INPUT.TOO_SHORT" | translate
      }}</span>
      <span *ngIf="companyName.control.hasError('maxlength')">{{
        "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_NAME_INPUT.TOO_LONG" | translate
      }}</span>
    </mat-error>
    <mat-icon matPrefix>edit</mat-icon>
  </mat-form-field>
  <div class="input-group">
    <mat-form-field
      appearance="outline"
      class="input-business-type"
      *ngIf="{ control: businessDetailsGroup.controls['industry'] } as industry"
    >
      <mat-label>Business Industry</mat-label>
      <mat-select placeholder="Business Industry" formControlName="industry">
        <mat-option *ngFor="let industryEntry of BusinessIndustrySet" [value]="industryEntry.value">
          {{ industryEntry.key }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>business</mat-icon>
      <mat-error>
        <span *ngIf="industry.control.hasError('required')">Industry is required</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="input-network-name"
      *ngIf="{ control: businessDetailsGroup.controls['parentBusinessId'] } as parentBusinessId"
    >
      <mat-label>{{
        "BUSINESS.BUSINESS_DETAILS_FORM.NETWORK_NAME_INPUT.LABEL" | translate
      }}</mat-label>
      <mat-select placeholder="Network Name" formControlName="parentBusinessId">
        <!-- TODO fetch parent businesses -->
        <!-- <mat-option *ngFor="let industryEntry of BusinessIndustrySet" [value]="industryEntry.value">
          {{ industryEntry.key }}
        </mat-option> -->
        <mat-option value="">{{
          "BUSINESS.BUSINESS_DETAILS_FORM.NETWORK_NAME_INPUT.NONE_OPTION" | translate
        }}</mat-option>
      </mat-select>
      <mat-icon matPrefix>hub</mat-icon>
    </mat-form-field>
  </div>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: businessDetailsGroup.controls['description'] } as description"
  >
    <mat-label>{{
      "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_DESCRIPTION_INPUT.LABEL" | translate
    }}</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="6"
      [placeholder]="'BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_DESCRIPTION_INPUT.LABEL' | translate"
      value=""
      formControlName="description"
    ></textarea>
    <mat-error>
      <span *ngIf="description.control.hasError('required')">{{
        "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_DESCRIPTION_INPUT.REQUIRED" | translate
      }}</span>
      <span *ngIf="description.control.hasError('minlength')">{{
        "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_DESCRIPTION_INPUT.TOO_SHORT" | translate
      }}</span>
      <span *ngIf="description.control.hasError('maxlength')">{{
        "BUSINESS.BUSINESS_DETAILS_FORM.COMPANY_DESCRIPTION_INPUT.TOO_LONG" | translate
      }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: businessDetailsGroup.controls['backgroundImage'] } as backgroundImage"
  >
    <mat-label>{{ "BUSINESS.BUSINESS_DETAILS_FORM.BANNER_INPUT.LABEL" | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'BUSINESS.BUSINESS_DETAILS_FORM.BANNER_INPUT.LABEL' | translate"
      value=""
      type="string"
      formControlName="backgroundImage"
    />
    <mat-icon matPrefix>link</mat-icon>
    <mat-error>
      <span *ngIf="backgroundImage.control.hasError('pattern')">{{
        "BUSINESS.BUSINESS_DETAILS_FORM.BANNER_INPUT.INVALID" | translate
      }}</span>
    </mat-error>
  </mat-form-field>
  <ng-container
    *ngIf="
      businessDetailsGroup.get('backgroundImage')?.value &&
      businessDetailsGroup.get('backgroundImage')?.valid
    "
  >
    <p>{{ 'BUSINESS.BUSINESS_DETAILS_FORM.BANNER_PREVIEW' | translate }}</p>
    <img
      class="banner-preview"
      [src]="businessDetailsGroup.get('backgroundImage')?.value"
      alt=""
      aria-hidden="true"
    />
  </ng-container>
</div>
