.card {
  margin: 0;
  cursor: pointer;
  padding: 1rem 2rem;
  min-height: 150px;
  background: var(--clr-dark-2);
  transition: box-shadow 0.15s;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  mat-icon {
    color: var(--clr-light-1);
    border-color: var(--clr-light-4);
  }
}

mat-icon {
  font-size: 4rem;
  padding: 2rem;
  border: 1px dashed var(--clr-neutral-1);
  color: var(--clr-light-4);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem;
  transition: color 0.15s, border-color 0.15s;
}

.card-content {
  text-align: center;
  background: transparent;
  box-shadow: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: var(--clr-light-1);
  }

  p {
    margin-bottom: 0;
  }
}
