<div class="card card--padded language-container">
  <div class="image">
    <mat-icon>translate</mat-icon>
  </div>
  <div class="content">
    <h1>Select Prefered Language</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eligendi libero unde harum
      quia, laudantium quae labore praesentium ipsa facilis quasi illum, mollitia omnis. Sapiente
      ullam harum quo magni sunt.
    </p>
    <mat-form-field [appearance]="'outline'">
      <mat-select
        placeholder="Select"
        [ngModel]="selectedLanguage"
        (ngModelChange)="handleLanguageChange($event)"
      >
        <mat-option *ngFor="let language of languageSet" [value]="language.value">
          {{ language.key }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>translate</mat-icon>
    </mat-form-field>
  </div>
</div>
