<article class="card">
  <div
    class="card-image"
    [ngStyle]="{ backgroundImage: 'url(' + shop.details.shopBanner + ')' }"
  ></div>
  <div class="card-content">
    <h1>{{ shop.details.name }}</h1>
    <p>{{ shop.details.description }}</p>
    <!-- <p>{{ business.parentBusinessId }}</p> -->
    <div class="card-actions">
      <a [routerLink]="'/shops/' + shop.id">
        <button mat-raised-button color="primary">View Shop</button>
      </a>
      // TODO add guards
      <a [routerLink]="'/shops/' + shop.id + '/edit'" *ngIf="">
        <button mat-stroked-button color=""><mat-icon>edit</mat-icon></button>
      </a>
      <button mat-stroked-button color="" *ngIf="">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</article>
