.sidenav-button {
  width: 100%;
  text-align: left;
}

.sidenav-button,
.icon {
  color: var(--color-light-4);
}

:not(.active) .sidenav-button:hover {
  &,
  .icon {
    color: var(--color-light-1);
  }
}

.active {
  $text-color: var(--color-accent-light);

  button {
    background-color: var(--color-dark-5);
    color: $text-color;
  }

  .icon {
    font-variation-settings: "FILL" 1;
    color: $text-color;
  }
}

.icon {
  margin-right: 0.75rem;
}
