<div class="card card--padded card--form" [formGroup]="shopDetailsGroup">
  <p>Address</p>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: shopDetailsGroup.controls['name'] } as name"
  >
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" value="" type="string" formControlName="name" />
    <mat-error>
      <span *ngIf="name.control.hasError('required')">Description is required</span>
      <span *ngIf="name.control.hasError('minlength')">Description is too short</span>
      <span *ngIf="name.control.hasError('maxlength')">Description is too long</span>
    </mat-error>
    <mat-icon matPrefix>edit</mat-icon>
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: shopDetailsGroup.controls['description'] } as description"
  >
    <mat-label>Shop Description</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="6"
      placeholder="Company Description"
      value=""
      formControlName="description"
    ></textarea>
    <mat-error>
      <span *ngIf="description.control.hasError('required')">Description is required</span>
      <span *ngIf="description.control.hasError('minlength')">Description is too short</span>
      <span *ngIf="description.control.hasError('maxlength')">Description is too long</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: shopDetailsGroup.controls['shopBanner'] } as shopBanner"
  >
    <mat-label>Banner Url</mat-label>
    <input matInput placeholder="Banner Url" value="" type="string" formControlName="shopBanner" />
    <mat-error>
      <span *ngIf="shopBanner.control.hasError('required')">Banner is required</span>
      <span *ngIf="shopBanner.control.hasError('pattern')">This image url is invalid</span>
    </mat-error>
    <mat-icon matPrefix>link</mat-icon>
  </mat-form-field>
  <ng-container
    *ngIf="shopDetailsGroup.get('shopBanner')?.value && shopDetailsGroup.get('shopBanner')?.valid"
  >
    <p>Banner Preview</p>
    <img
      class="banner-preview"
      [src]="shopDetailsGroup.get('shopBanner')?.value"
      alt=""
      aria-hidden="true"
    />
  </ng-container>
</div>
