app-card,
app-business-owner-card {
  min-width: min(280px, 70vw);
  flex: 1;
}

app-card,
app-business-card {
  min-width: min(280px, 70vw);
}

app-business-card {
  flex: 1;
}

app-card {
  flex: 2;
}
