<div class="items-container">
  <app-card
    imageSource="assets/images/cards/start-business.avif"
    subtitle="New Skills"
    title="Become Businessman"
    content="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur provident omnis ab,
      suscipit architecto itaque"
    primaryButtonLink="businesses/create"
    primaryButtonText="Register Yourself"
    primaryButtonColor="accent"
  ></app-card>
  <app-business-owner-card
    *ngFor="let businessOwner of businessOwners | async"
    [businessOwner]="businessOwner"
  ></app-business-owner-card>
</div>
