main {
  min-height: 90vh;
  display: flex;
  flex: 1 1 auto;
}

mat-drawer-container {
  width: 100%;
}

.mat-drawer-content,
.mat-drawer {
  background-color: var(--color-dark-4);
  color: var(--color-light-1);
}

mat-drawer-content {
  padding: 1rem 1rem 1rem 1.5rem;
}

mat-drawer {
  background: var(--color-dark-5);
  background: linear-gradient(var(--color-dark-2), var(--color-dark-4) 100%);
  width: 250px;
  padding: 0.5rem;
}
