<app-toolbar (sideNavButtonClick)="toggleSidenav()"></app-toolbar>
<main>
  <mat-drawer-container
    hasBackdrop="true"
    #drawerContainer
    appSidenav
    [drawerContainer]="drawerContainer"
    [drawer]="sidenav"
    [sidenavHideScreenWidth]="sidenavHideScreenWidth"
  >
    <mat-drawer #sidenav mode="side" opened="true">
      <nav>
        <app-sidenav
          (buttonClick)="onSidenavButtonClick()"
          (logoutButtonClick)="onLogOut()"
          [isUserLoggedIn]="isUserLoggedIn"
        ></app-sidenav>
      </nav>
    </mat-drawer>
    <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
  </mat-drawer-container>
</main>
<app-footer></app-footer>
