<div class="section">
  <h2>{{ "CORE.ADDRESS_SECTION.TITLE" | translate }}</h2>
  <p>
    <mat-icon>language</mat-icon>
    {{ "CORE.ADDRESS_SECTION.COUNTRY" | translate }}
    <span>
      {{
        address.country === null || address.country === "UNDEFINED"
          ? ("CORE.ADDRESS_SECTION.COUNTRY_EMPTY" | translate)
          : address.country
      }}
    </span>
  </p>
  <p>
    <mat-icon>location_city</mat-icon>
    {{ "CORE.ADDRESS_SECTION.CITY" | translate }}
    <span>
      {{
        address.city === null || address.city === ""
          ? ("CORE.ADDRESS_SECTION.CITY_EMPTY" | translate)
          : address.city
      }}
    </span>
  </p>
  <p>
    <mat-icon>signpost</mat-icon>
    {{ "CORE.ADDRESS_SECTION.POSTAL_CODE" | translate }}
    <span>
      {{
        address.postalCode === null || address.postalCode === ""
          ? ("CORE.ADDRESS_SECTION.POSTAL_CODE_EMPTY" | translate)
          : address.postalCode
      }}
    </span>
  </p>
  <p>
    <mat-icon>traffic</mat-icon>
    {{ "CORE.ADDRESS_SECTION.STREET" | translate }}
    <span>
      {{
        address.street === null || address.street === ""
          ? ("CORE.ADDRESS_SECTION.STREET_EMPTY" | translate)
          : address.street
      }}
    </span>
  </p>
  <p>
    <mat-icon>location_on</mat-icon>
    {{ "CORE.ADDRESS_SECTION.LOCAL_NUMBER" | translate }}
    <span>
      {{
        address.localNumber === null || address.localNumber === ""
          ? ("CORE.ADDRESS_SECTION.LOCAL_NUMBER_EMPTY" | translate)
          : address.localNumber
      }}
    </span>
  </p>
</div>
