<div *ngIf="shop$ | async as shop" class="card card--padded shop-container">
  <div class="image-container">
    <img [src]="shop.details.shopBanner" class="banner" alt="" aria-hidden="true" />
    <!-- TODO shop owner check -->
    <!-- *ngIf="(loggedInUser$ | async)?.uid === shop.ownerId" -->
    <a mat-raised-button color="primary" routerLink="edit">
      {{ "SHOPS.SHOP.EDIT_BUTTON" | translate }}
    </a>
  </div>
  <div class="sections-container">
    <app-shop-details-section [shopDetails]="shop.details"></app-shop-details-section>
  </div>
</div>
<h1 class="available-products">{{ "SHOPS.SHOP.PRODUCTS_TITLE" | translate }}</h1>
<app-products-list [products]="products$ | async">
  <!-- TODO check if user is shop owner -->
  <app-add-item-card
    [title]="'SHOPS.SHOP.ADD_PRODUCT_CARD.TITLE' | translate"
    [content]="'SHOPS.SHOP.ADD_PRODUCT_CARD.DESCRIPTION' | translate"
    link="products/new"
  ></app-add-item-card>
</app-products-list>
