<footer class="footer">
  <div class="footer-container">
    <div class="row-1">
      <div class="footer-about">
        <h2>Network Marketing Application</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, enim? Suscipit molestias
          sapiente consequuntur odio eligendi officiis.
        </p>
      </div>
      <div>
        <h2>Pages</h2>
        <ul>
          <li>
            <a target="_blank">Project 1</a>
          </li>
          <li>
            <a target="_blank">Project 2</a>
          </li>
          <li>
            <a target="_blank">Project 3</a>
          </li>
          <li>
            <a target="_blank">Project 4</a>
          </li>
        </ul>
      </div>
      <div>
        <h2>Languages</h2>
        <ul>
          <li><a routerLink="">English</a></li>
          <li><a routerLink="">Polish</a></li>
        </ul>
      </div>
      <div class="contact">
        <h2>Contact Dev</h2>
        <ul>
          <li>
            <a href="mailto:mintmissycontact@gmail.com" target="_blank"
              >mintmissycontact@gmail.com</a
            >
          </li>
          <li><a href="https://github.com/MintMissy" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="row-2">
      <div class="copyright">
        <div>
          <img src="assets/images/mintmissy-logo.png" class="logo" alt="" aria-hidden="true" />
        </div>
        <div>
          <p>Copyright © 2022</p>
          <p>All rights reserved for MintMissy</p>
        </div>
      </div>
      <div class="media">
        <div class="media-container">
          <a class="media-icon"></a>
          <a class="media-icon"></a>
          <a class="media-icon"></a>
          <a class="media-icon"></a>
          <a class="media-icon"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
