<div class="card card--padded card--form" [formGroup]="addressGroup">
  <p>{{ "CORE.ADDRESS_FORM.TITLE" | translate }}</p>
  <div class="input-group">
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: addressGroup.controls['street'] } as street"
    >
      <mat-label>{{ "CORE.ADDRESS_FORM.STREET_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'CORE.ADDRESS_FORM.STREET_INPUT.LABEL' | translate"
        value=""
        type="string"
        formControlName="street"
      />
      <mat-error>
        <span *ngIf="street.control.hasError('minlength')">{{
          "CORE.ADDRESS_FORM.STREET_INPUT.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="street.control.hasError('maxlength')">{{
          "CORE.ADDRESS_FORM.STREET_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>traffic</mat-icon>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: addressGroup.controls['localNumber'] } as localNumber"
    >
      <mat-label>{{ "CORE.ADDRESS_FORM.LOCAL_NUMBER_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'CORE.ADDRESS_FORM.LOCAL_NUMBER_INPUT.LABEL' | translate"
        value=""
        type="string"
        formControlName="localNumber"
      />
      <mat-error>
        <span *ngIf="localNumber.control.hasError('minlength')">{{
          "CORE.ADDRESS_FORM.LOCAL_NUMBER_INPUT.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="localNumber.control.hasError('maxlength')">{{
          "CORE.ADDRESS_FORM.LOCAL_NUMBER_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>location_on</mat-icon>
    </mat-form-field>
  </div>
  <div class="input-group">
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: addressGroup.controls['postalCode'] } as postalCode"
    >
      <mat-label>{{ "CORE.ADDRESS_FORM.POSTAL_CODE_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'CORE.ADDRESS_FORM.POSTAL_CODE_INPUT.LABEL' | translate"
        value=""
        type="string"
        formControlName="postalCode"
      />
      <mat-error>
        <span *ngIf="postalCode.control.hasError('minlength')">{{
          "CORE.ADDRESS_FORM.POSTAL_CODE_INPUT.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="postalCode.control.hasError('maxlength')">{{
          "CORE.ADDRESS_FORM.POSTAL_CODE_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>signpost</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="{ control: addressGroup.controls['city'] } as city">
      <mat-label>{{ "CORE.ADDRESS_FORM.CITY_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'CORE.ADDRESS_FORM.CITY_INPUT.LABEL' | translate"
        value=""
        type="string"
        formControlName="city"
      />
      <mat-error>
        <span *ngIf="city.control.hasError('minlength')">{{
          "CORE.ADDRESS_FORM.CITY_INPUT.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="city.control.hasError('maxlength')">{{
          "CORE.ADDRESS_FORM.CITY_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>location_city</mat-icon>
    </mat-form-field>
  </div>
  <mat-form-field
    appearance="outline"
    class="input-network-name"
    *ngIf="{ control: addressGroup.controls['country'] } as countryControl"
  >
    <mat-label>{{ "CORE.ADDRESS_FORM.COUNTRY_INPUT.LABEL" | translate }}</mat-label>
    <mat-select
      [placeholder]="'CORE.ADDRESS_FORM.COUNTRY_INPUT.LABEL' | translate"
      formControlName="country"
    >
      <mat-option *ngFor="let country of Country" [value]="country[1]">
        {{ country[0] | countryTextTransform }}
      </mat-option>
    </mat-select>
    <mat-icon matPrefix>language</mat-icon>
  </mat-form-field>
</div>
