<div class="card card--padded card--form" [formGroup]="personDetailsGroup">
  <p>{{ "BUSINESSMAN.PERSON_DETAILS_FORM.TITLE" | translate }}</p>
  <div class="input-group">
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: personDetailsGroup.controls['firstName'] } as firstName"
    >
      <mat-label>{{
        "BUSINESSMAN.PERSON_DETAILS_FORM.FIRST_NAME_INPUT.LABEL" | translate
      }}</mat-label>
      <input
        matInput
        [placeholder]="'BUSINESSMAN.PERSON_DETAILS_FORM.FIRST_NAME_INPUT.LABEL' | translate"
        value=""
        type="string"
        formControlName="firstName"
      />
      <mat-error>
        <span *ngIf="firstName.control.hasError('maxlength')">{{
          "BUSINESSMAN.PERSON_DETAILS_FORM.FIRST_NAME_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: personDetailsGroup.controls['surname'] } as surname"
    >
      <mat-label>{{ "BUSINESSMAN.PERSON_DETAILS_FORM.SURNAME_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        placeholder="'BUSINESSMAN.PERSON_DETAILS_FORM.SURNAME_INPUT.LABEL' | translate"
        value=""
        formControlName="surname"
      />
      <mat-error>
        <span *ngIf="surname.control.hasError('maxlength')">{{
          "BUSINESSMAN.PERSON_DETAILS_FORM.SURNAME_INPUT.TOO_LONG" | translate
        }}</span>
      </mat-error>
      <mat-icon matPrefix>people</mat-icon>
    </mat-form-field>
  </div>
  <mat-form-field
    appearance="outline"
    *ngIf="{ control: personDetailsGroup.controls['avatar'] } as avatar"
  >
    <mat-label>{{ "BUSINESSMAN.PERSON_DETAILS_FORM.AVATAR.LABEL" | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'BUSINESSMAN.PERSON_DETAILS_FORM.AVATAR.LABEL' | translate"
      value=""
      type="string"
      formControlName="avatar"
    />
    <mat-error>
      <span *ngIf="avatar.control.hasError('pattern')">{{
        "BUSINESSMAN.PERSON_DETAILS_FORM.AVATAR.INVALID" | translate
      }}</span>
    </mat-error>
    <mat-icon matPrefix>link</mat-icon>
  </mat-form-field>
  <ng-container
    *ngIf="personDetailsGroup.get('avatar')?.value && personDetailsGroup.get('avatar')?.valid"
  >
    <p>{{ "BUSINESSMAN.PERSON_DETAILS_FORM.AVATAR_PREVIEW" | translate }}</p>
    <img
      class="avatar-preview"
      [src]="personDetailsGroup.get('avatar')?.value"
      alt=""
      aria-hidden="true"
    />
  </ng-container>
</div>
