:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 0 0.25rem;

  @media screen and (min-width: 768px) {
    padding: 0.5rem 1rem;
  }
}

.card {
  min-width: min(100%, 550px);
  background: linear-gradient(var(--clr-dark-2), var(--clr-dark-4) 100%);
  border: 2px solid var(--clr-dark-5);
  transform: translateY(5%);
  padding: 1rem 0;
  max-width: 400px;
  text-align: center;
  height: auto;

  @media screen and (min-width: 768px) {
    padding: 2rem 0.5rem 1rem;
  }

  &-content {
    box-shadow: none;
    width: min(100%, 25rem);
    margin-inline: auto;
  }

  h1 {
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  mat-form-field {
    width: 100%;
  }

  .auth-button {
    margin-top: 1rem;
    width: 100%;
    margin-inline: auto;
    display: block;
  }
}

.media-auth-description {
  margin-top: 1.5rem;
}
.media-auth {
  margin-top: 1.5rem;
}

.suffix-icon {
  color: var(--clr-neutral-1);
}

.form-response-error {
  margin-top: 0.5rem;
}

.error-container :not(span:first-child) {
  display: none;
}
