<form class="card" [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="card-content">
    <h1>Sign Up</h1>
    <mat-form-field appearance="outline" *ngIf="{ control: signUpForm.controls['email'] } as email">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="email" formControlName="email" />
      <mat-error class="error-container">
        <span *ngIf="email.control.hasError('required')">Email is required</span>
        <span *ngIf="email.control.hasError('email')">Email is invalid</span>
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="email.control.errors != null && email.control.touched"
        >mail</mat-icon
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: signUpForm.controls['password'] } as password"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        #passwordInput
        placeholder="Password"
        type="password"
        autocomplete="on"
        formControlName="password"
      />
      <mat-error class="error-container">
        <span *ngIf="password.control.hasError('required')">Password is required</span>
        <span *ngIf="password.control.hasError('minlength')">Password is too short</span>
        <span *ngIf="password.control.hasError('maxlength')">Password is too long</span>
        <span *ngIf="password.control.hasError('pattern')"
          >Password must contain at least 1 number and letter</span
        >
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="password.control.errors != null && password.control.touched"
        >lock</mat-icon
      >
      <mat-icon
        class="material-icons-filled suffix-icon"
        matSuffix
        appChangeInputType
        [input]="passwordInput"
        >visibility</mat-icon
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: signUpForm.controls['repeatedPassword'] } as repeatedPassword"
    >
      <mat-label>Repeat Password</mat-label>
      <input
        #repeatPasswordInput
        matInput
        placeholder="Repeat Password"
        type="password"
        autocomplete="on"
        formControlName="repeatedPassword"
      />
      <mat-error class="error-container">
        <span *ngIf="repeatedPassword.control.hasError('required')">Password is required</span>
        <span *ngIf="repeatedPassword.control.hasError('minlength')">Password is too short</span>
        <span *ngIf="repeatedPassword.control.hasError('maxlength')">Password is too long</span>
        <span *ngIf="repeatedPassword.control.hasError('notsame')">Password is too long</span>
        <span *ngIf="repeatedPassword.control.hasError('pattern')"
          >Password must contain at least 1 number and letter</span
        >
        <span *ngIf="signUpForm?.hasError('nomatch')">Passwords don't match</span>
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="repeatedPassword.control.errors != null && repeatedPassword.control.touched"
        >lock</mat-icon
      >
      <mat-icon
        class="material-icons-filled suffix-icon"
        matSuffix
        appChangeInputType
        [input]="repeatPasswordInput"
        >visibility</mat-icon
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="auth-button">Sign Up</button>
    <mat-error class="form-response-error">{{ errorMessage }}</mat-error>
    <p class="media-auth-description">or sign up using</p>
    <app-media-list
      class="media-auth"
      (googleIconClick)="googleSignUp()"
      (facebookIconClick)="facebookSignUp()"
      (githubIconClick)="githubSignUp()"
    ></app-media-list>
    <p class="account-description">Already have an account?</p>
    <a routerLink="/auth/login">Log in</a>
  </div>
</form>
