<form class="card" [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="card-content">
    <h1>{{ "AUTH.SIGN_UP.TITLE" | translate }}</h1>
    <mat-form-field appearance="outline" *ngIf="{ control: signUpForm.controls['email'] } as email">
      <mat-label>{{ "AUTH.SIGN_UP.EMAIL_INPUT.LABEL" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'AUTH.SIGN_UP.EMAIL_INPUT.LABEL' | translate"
        type="email"
        formControlName="email"
      />
      <mat-error>
        <span *ngIf="email.control.hasError('required')">{{
          "AUTH.SIGN_UP.EMAIL_INPUT.ERRORS.REQUIRED" | translate
        }}</span>
        <span *ngIf="email.control.hasError('email')">{{
          "AUTH.SIGN_UP.EMAIL_INPUT.ERRORS.INVALID" | translate
        }}</span>
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="email.control.errors != null && email.control.touched"
        >mail</mat-icon
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: signUpForm.controls['password'] } as password"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        #passwordInput
        placeholder="Password"
        type="password"
        autocomplete="on"
        formControlName="password"
      />
      <mat-error>
        <span *ngIf="password.control.hasError('required')">{{
          "AUTH.SIGN_UP.PASSWORD_INPUT.ERRORS.REQUIRED" | translate
        }}</span>
        <span *ngIf="password.control.hasError('minlength')">{{
          "AUTH.SIGN_UP.PASSWORD_INPUT.ERRORS.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="password.control.hasError('maxlength')">{{
          "AUTH.SIGN_UP.PASSWORD_INPUT.ERRORS.TOO_LONG" | translate
        }}</span>
        <span *ngIf="password.control.hasError('pattern')">{{
          "AUTH.SIGN_UP.PASSWORD_INPUT.ERRORS.PATTERN" | translate
        }}</span>
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="password.control.errors != null && password.control.touched"
        >lock</mat-icon
      >
      <mat-icon
        class="material-icons-filled suffix-icon"
        matSuffix
        appChangeInputType
        [input]="passwordInput"
        >visibility</mat-icon
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="{ control: signUpForm.controls['repeatedPassword'] } as repeatedPassword"
    >
      <mat-label>{{ "AUTH.SIGN_UP.REPEAT_PASSWORD_INPUT.LABEL" | translate }}</mat-label>
      <input
        #repeatPasswordInput
        matInput
        [placeholder]="'AUTH.SIGN_UP.REPEAT_PASSWORD_INPUT.LABEL' | translate"
        type="password"
        autocomplete="on"
        formControlName="repeatedPassword"
      />
      <mat-error>
        <span *ngIf="repeatedPassword.control.hasError('required')">{{
          "AUTH.SIGN_UP.REPEAT_PASSWORD_INPUT.ERRORS.REQUIRED" | translate
        }}</span>
        <span *ngIf="repeatedPassword.control.hasError('minlength')">{{
          "AUTH.SIGN_UP.REPEAT_PASSWORD_INPUT.ERRORS.TOO_SHORT" | translate
        }}</span>
        <span *ngIf="repeatedPassword.control.hasError('maxlength')">{{
          "AUTH.SIGN_UP.REPEAT_PASSWORD_INPUT.ERRORS.TOO_LONG" | translate
        }}</span>
        <span *ngIf="repeatedPassword.control.hasError('pattern')">{{
          "AUTH.SIGN_UP.REPEAT_PASSWORD_INPUT.ERRORS.PATTERN" | translate
        }}</span>
        <span *ngIf="signUpForm?.hasError('nomatch')">Passwords don't match</span>
      </mat-error>
      <mat-icon
        matPrefix
        appInvalidInputIcon
        [invalid]="repeatedPassword.control.errors != null && repeatedPassword.control.touched"
        >lock</mat-icon
      >
      <mat-icon
        class="material-icons-filled suffix-icon"
        matSuffix
        appChangeInputType
        [input]="repeatPasswordInput"
        >visibility</mat-icon
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="auth-button">{{ 'AUTH.SIGN_UP.BUTTONS.SIGN_UP' | translate }}</button>
    <mat-error class="form-response-error">{{ errorMessage }}</mat-error>
    <p class="media-auth-description">{{ 'AUTH.SIGN_UP.OTHER.LOGIN_ALTERNATIVE' | translate }}</p>
    <app-media-list
      class="media-auth"
      (googleIconClick)="googleSignUp()"
      (facebookIconClick)="facebookSignUp()"
      (githubIconClick)="githubSignUp()"
    ></app-media-list>
    <p class="account-description">{{ 'AUTH.SIGN_UP.OTHER.HAVE_ACCOUNT' | translate }}</p>
    <a routerLink="/auth/login">{{ 'AUTH.SIGN_UP.OTHER.LOGIN' | translate }}</a>
  </div>
</form>
