<div class="section">
  <h2>{{ "CORE.CONTACT_SECTION.TITLE" | translate }}</h2>
  <p>
    <mat-icon>email</mat-icon>
    {{ "CORE.CONTACT_SECTION.EMAIL" | translate }}
    <span>
      {{
        contactDetails.email === null
          ? ("CORE.CONTACT_SECTION.EMAIL_EMPTY" | translate)
          : contactDetails.email
      }}
    </span>
  </p>
  <p>
    <mat-icon>call</mat-icon>
    {{ "CORE.CONTACT_SECTION.TELEPHONE" | translate }}
    <span>
      {{
        contactDetails.telephone === null || contactDetails.telephone === 0
          ? ("CORE.CONTACT_SECTION.TELEPHONE_EMPTY" | translate)
          : "+" + contactDetails.telephone
      }}
    </span>
  </p>
</div>
