:host {
  position: sticky;
  // padding-top: var(--toolbar-height);
  max-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  padding-bottom: 1rem;
}

:host,
.buttons-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons-group {
  h2 {
    font-size: 1rem;
    padding-left: 1rem;
    color: var(--color-light-1);
    margin-bottom: -0.5rem;
  }

  padding-top: 0.5rem;
  border-top: 1px solid var(--color-dark-5);
}
