<div *ngIf="product$ | async as product" class="card card--padded product-container">
  <div class="image-container">
    <img [src]="product.details.image" class="image" alt="" aria-hidden="true" />
  </div>
  <div class="information">
    <h1>{{ product.details.name }}</h1>
    <div class="section">
      <h2>{{ "PRODUCT.PRODUCT.DESCRIPTION_TITLE" | translate }}</h2>
      <p>{{ product.details.description }}</p>
    </div>
    <div class="section">
      <h2>{{ "PRODUCT.PRODUCT.INFORMATION_TITLE" | translate }}</h2>
      <p>
        <mat-icon>people</mat-icon>
        <span>
          {{
            "PRODUCT.PRODUCT.AMOUNT_BOUGHT"
              | translate: { amount: product.saleStatistics.soldAmount }
          }}</span
        >
      </p>
      <p>
        <mat-icon>inventory_2</mat-icon>
        <span
          >{{
            "PRODUCT.PRODUCT.AMOUNT_LEFT"
              | translate: { amount: product.saleStatistics.amountInStorage }
          }}
        </span>
      </p>
    </div>
    <div class="product-action">
      <button mat-raised-button color="primary">
        {{
          "PRODUCT.PRODUCT.BUY_BUTTON"
            | translate: { price: (product.details.price | number: "0.2") }
        }}
      </button>
      <button mat-stroked-button routerLink="../../">
        {{ "PRODUCT.PRODUCT.GO_BACK_BUTTON" | translate }}
      </button>
    </div>
  </div>
</div>
